<%- include('./partials/header', {title: "Halaman Edit Post"}) %> 
<%- include('./partials/nav') %> 
<main>
    <div class="container-fluid">
        <div class="row">
          <!-- left side bar -->
            <div class="col">
                <%- include('./partials/sidebar', user) %> 
            </div>
          <!-- end left side bar -->

          <!-- center bar -->
            <div class="col-6 ms-5">
                <div class="mt-5" style="width: 80%;">
                    
                 <h1>Edit Post</h1>
                  <form action="/managePost/edit/<%= post.id %>" method="post">
                                     
                    <div class="mb-3 col">
                      <label for="title" class="form-label">Title</label>
                      <input type="text" class="form-control" id="title" name="title" value="<%= post.title %> ">
                    </div>
                    
                    <label for="CategoryId" class="form-label">Category</label>
                    <select class="form-select mb-3" name="CategoryId" id="CategoryId">
                        <%category.forEach(el => {%>
                           <% if(el.id === post.CategoryId){ %>
                            <option value="<%=el.id%>" selected><%=el.name%></option>
                           <% } else { %>
                            <option value="<%=el.id%>"><%=el.name%></option>
                           <% } %> 
                        <%})%>
                      </select>

                    <label for="description">Description</label>
                    <div class="form mb-3">
                        <textarea class="form-control" placeholder="Leave a comment here" id="description" name="description">
                            <%= post.description %> 
                        </textarea>
                    </div>

                    <button type="submit" class="btn btn-warning">Post</button>
                    <a href="/managePost" class="btn btn-danger">Cancel</a>
                  </form>
                </div>
            </div>
            <!-- end center bar -->
            <div class="col">
            </div>
        </div>
    </div>
  </main>

<%- include('./partials/footer') %> 