<%- include('./partials/header', {title: "Halaman Utama 8ookArt"}) %> 
<%- include('./partials/nav') %> 
<main>
    <div class="filter">
      <%category.forEach(el => {%>
        <a href="/?sort=<%=el.name%>" class="btn btn-warning rounded-1 mt-3 mb-3 pt-0 pb-0"><%=el.name%></a>
      <%});%>

    </div>
    <div class="container-fluid">
        <div class="row">
          
          <!-- left side bar -->
            <div class="col">
              
                <%- include('./partials/sidebar',data) %> 
            </div>
          <!-- end left side bar -->

          <!-- center bar -->
            <div class="col-6 centerbar mt-5">
                <!-- card -->
                <div class="card mb-3" style="width: 80%;">                    
                    <div class="background-card">
                        <img src="/1.jpg" alt="">
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div class="frame-photo-card ">
                            <img src="/1658377943753.jpeg" alt="profile picture" width="100%">
                          </div>
                        </div>
                        <h5 class="card-title col-10">Rohmat Hidayattullah</h5>
                      </div>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <p><a href="#"><i class="fa fa-heart"></i></a>   0 Likes</p>
                    </div>
                  </div> <!-- end carde -->
            </div>
            <!-- end center bar -->
            <div class="col">
            </div>
        </div>
    </div>
  </main>

<%- include('./partials/footer') %> 