<%- include('./partials/header', {title: "Halaman Utama 8ookArt"}) %> 
<%- include('./partials/nav', {user}) %> 
<main>
    <div class="filter">
      <%category.forEach(el => {%>
        <a href="/home?sort=<%=el.id%>" class="btn btn-warning rounded-1 mt-3 mb-3 pt-0 pb-0"><%=el.name%></a>
      <%});%>

    </div>
    <div class="container-fluid">
        <div class="row">
          
          <!-- left side bar -->
            <div class="col">
                <%- include('./partials/sidebar', user) %> 
            </div>
          <!-- end left side bar -->

          <!-- center bar -->
            <div class="col-6 centerbar mt-5">
               <% post.forEach(el => { %>
                <!-- card -->
                <div class="card mb-3" style="width: 80%;">                    
                    <div class="background-card">
                        <img src="<%= el.imageUrl %>" alt="" width="130%">
                    </div>
                    <div class="card-body">                     
                        <h4 class="card-title"><%= el.title %> </h4>
                        <P>Post By <b><i> <%=el.User.fullName()%> </i></b> 
                          <br> <span style="font-size:10px;">Category : <b><%= el.Category.name %></b> </span></P>
                      <p class=""><%= el.description %> </p>
                      <p><a href="/like/<%= el.id %>"><i class="fa fa-heart"></i></a> <%= el.like %>  Likes</p>
                    </div>
                  </div> <!-- end carde -->
               <% }) %> 
            </div>
            <!-- end center bar -->
            <div class="col">
            </div>
        </div>
    </div>
  </main>

<%- include('./partials/footer') %> 