<%- include('./partials/header', {title: "Halaman Manage Post"}) %> 
<%- include('./partials/nav') %> 
<main>
    <div class="container-fluid">
        <div class="row">
          <!-- left side bar -->
            <div class="col">
                <%- include('./partials/sidebar',data) %> 
            </div>
          <!-- end left side bar -->

          <!-- center bar -->
            <div class="col-9 ms-5">
                <div class="mt-5" style="width: 80%;">
                  <h1>Manage Post</h1>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Title</th>
                        <th scope="col">Category Name</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Like</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <%post.forEach((el,index)=>{%>
                        <td><%=index+1%></td>
                        <td>
                            <img src="<%=el.imageUrl%>" alt="<%=el.title%>" width="40px">
                        </td>
                        <td><%=el.title%></td>
                        <td><%=el.Category.name%></td>
                        <td><%=publishedAt(el.createdAt)%></td>
                        <td><%=el.like%></td>
                        <td>
                            <a href="/managePost/edit/<%=el.id%>" class="btn btn-warning">Edit Post</a>
                            <a href="/managePost/delete/<%=el.id%>" class="btn btn-danger">Delete</a>
                        </td>
                        <%});%>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>
            <!-- end center bar -->
        </div>
    </div>
  </main>

<%- include('./partials/footer') %> 