<%- include('./partials/header', {title: "Halaman Manage Post"}) %> 
<%- include('./partials/nav') %> 
<main>
    <div class="container-fluid">
        <div class="row">
          <% const arr = ['Art'] %> 
          <!-- left side bar -->
            <div class="col">
                <%- include('./partials/sidebar', user) %> 
            </div>
          <!-- end left side bar -->

          <!-- center bar -->
            <div class="col-9 ms-5">
                <div class="mt-5" style="width: 80%;">
                  <h1>Manage Post</h1>
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Title</th>
                        <th scope="col">Category Name</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Like</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% post.forEach((el, i) => { %>
                        <tr>
                          <td><%= i + 1 %></td>
                          <td>
                              <img src="/<%= el.imageUrl%>" alt="" width="50px">
                          </td>
                          <td><%= el.title %> </td>
                          <td><%= el.Category.name%></td>
                          <td><%=getTime(el.createdAt)%></td>
                          <td><% el.like %> </td>
                          <td>
                              <a href="/managePost/edit/<%= el.id %>" class="btn btn-warning">Edit Post</a>
                              <a href="/managePost/delete/<%= el.id %>" class="btn btn-danger">Delete</a>
                          </td>
                        </tr>
                      <% }) %> 
                    </tbody>
                  </table>
                </div>
            </div>
            <!-- end center bar -->
        </div>
    </div>
  </main>

<%- include('./partials/footer') %> 